## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

## MAUI / Xamarin
*.ipa
*.dSYM.zip
*.dSYM/
*.apk
*.aab
*.app


## Secrets
appsettings.Development.json